<ion-view view-title="Home">
	<ion-content class="homepage">
		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search">
			</label>
		</div>
		<button class="button button-block button-positive" ng-click="scanQRCode()">
			Scan QR Code
		</button>

		<button class="button button-block icon ion-gear-a button-positive" ng-click="goToSettings()">
			Settings
		</button>
		<button class="button button-block button-positive special" ng-click="goToHistory()">
			Payment History
		</button>

	</ion-view>


