<ion-view view-title="Home">
	<ion-content class="homepage">
		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search">
			</label>
		</div>
		<img src="https://67.media.tumblr.com/47922b3e1b2097c7da7c6c4560f3e209/tumblr_ofihoxEX3o1vj8r5bo1_1280.png" width="70%" align="middle">
		<div id="homepage-buttons">
			<button class="button button-block button-positive" id="scan-qr-code-button" ng-click="takePicture()">
				Scan QR Code
			</button>
			<br>
			<button class="button button-block icon ion-gear-a button-positive" ng-click="goToSettings()">
				Settings
			</button>
			<br>
			<button class="button button-block button-positive special" ng-click="goToHistory()">
				Payment History
			</button>
		</div>
	</ion-view>


