<ion-view title="Menu">
<div class="bar bar-header bar-light">
    <h1 class="title">bar-light</h1>
</div>
<div class="list" ng-repeat="dish in restaurantMenu">
    <label class="item item-input item-select">
        <div class="input-label">{{ dish.name }}</div>
        <span class="item-note">${{ dish.price/100  }}</span>
        <select ng-model="dish.quantity">
        	<option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </label>

</div>
<div class="bar bar-footer bar-balanced">
    <div class="title"><span ng-click="addToOrder()">Add to Order</span></div>
</div>
</ion-view>
