<ion-view view-title="Welcome">
	
	<ion-content><div class="list card" style="text-align: center;">
		<div class="item item-image">
			<img src="../img/restaurant.jpg"  id="restaurant-picture">
		</div>
		<a class="item assertive" id="menu-link" ng-click="goToMenu()">
			<i class="icon "></i>
			Menu
		</a>
	</div>
	<div id="homepage-buttons">
		<button class="button button-block button-positive" ng-click="goToReview()">
			Review
		</button>
		<button class="button button-block button-positive" ng-click="callWaiter()">
			Call Waiter
		</button>
	</div>
</ion-content>
</ion-view>


